<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body background="{% static 'healthcentre/images/11.jpg' %}">
    <h1><center><em><u>"Revolutionizing Health: An Overview of Our Proactive Health Application"</u></em></center></h1>
    <br><br>
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div class="container">
    <div class="carousel-item active" style="height: 300; width: 62%;align-items: right;">
      <img src="{% static 'healthcentre/images/o1.png' %}" class="d-block w-100" alt="..." height="450" style="border-radius: 8px;">
    
    <div class="card" style="height: 28.1rem;width: 56%;position: absolute;z-index: -1;top: 0px;right: -26.5rem;">
    <div class="card-body">
       <center><h3><i>DASHBOARDS</i></h3>
        <h4><i>Feature:</i></h4>
        <p>Disease Analysis by Demographics and Location(Dashboard)</p>
        <h4><i>Description:</i></h4>
        <p>This feature analyzes acute and chronic diseases in nine states, considering gender (male vs. female) and location (rural vs urban) using Excel and Mapbox. It visualizes trends via interactive maps, graphs, and charts.</p>
        <h4><i>Advantages:</i></h4>
        <p>Clear Insights: Interactive visuals aid understanding of disease patterns.</p></center>
    </div>
    </div>
    </div>
    </div>

    <div class="container">
    <div class="carousel-item" style="height: 300; width: 62%;align-items: right;">
      <img src="{% static 'healthcentre/images/o6.png' %}" class="d-block w-100" alt="..." height="450" style="border-radius: 8px;">
    
    <div class="card" style="height: 28.1rem;width: 56%;position: absolute;z-index: -1;top: 0px;right: -26.5rem;">
    <div class="card-body">
        <center><h3><i>Calorie Count</i></h3>
        <h4><i>Feature:</i></h4>
        <p>It's gives the average amount of calories present in the food.</p>
        <h4><i>Description:</i></h4>
        <p>Food names with the calories amount present in them is stored in API. By using django as frame-work we are retrieving the exact values from the API.</p>
        <h4><i>Advantages:</i></h4>
        <p> Gives the time required to burn those calories intake by different means of exercise. It will help you to regulate your health and also to control your eating habits.</p></center>
    </div>
    </div>
    </div>
    </div>

    <div class="container">
    <div class="carousel-item" style="height: 300; width: 62%;align-items: right;">
      <img src="{% static 'healthcentre/images/o7.png' %}" class="d-block w-100" alt="..." height="450" style="border-radius: 8px;">
    
    <div class="card" style="height: 28.1rem;width: 56%;position: absolute;z-index: -1;top: 0px;right: -26.5rem;">
    <div class="card-body">
        <center><h3><i>BMI Count</i></h3>
        <h4><i>Feature:</i></h4>
        <p>It provides insights into the user's weight status and related health implications.</p>
        <h4><i>Description:</i></h4>
        <p>It provides insights into the user's weight status and related health implications.Different color codes indicate underweight, normal weight, overweight, and obese ranges.</p>
        <h4><i>Advantages:</i></h4>
        <p>Health Awareness:Helps users make informed choices regarding nutrition, exercise, and lifestyle changes.</p></center>
    </div>
    </div>
    </div>
    </div>

    <div class="container">
    <div class="carousel-item" style="height: 300; width: 62%;align-items: right;">
      <img src="{% static 'healthcentre/images/o9.png' %}" class="d-block w-100" alt="..." height="450" style="border-radius: 8px;">
    
    <div class="card" style="height: 28.1rem;width: 56%;position: absolute;z-index: -1;top: 0px;right: -26.5rem;">
    <div class="card-body">
        <center><h3><i>Sleep Cycle</i></h3>
        <h4><i>Feature:</i></h4>
        <p>Helps users monitor their sleep patterns by inputting their time they sleep and time they woke-up.</p>
        <h4><i>Description:</i></h4>
        <p>It calculates sleep duration, identifies sleep cycle stages, and provides information about the sleep stages.</p>
        <h4><i>Advantages:</i></h4>
        <p>Sleep Awareness:- Enables users to understand their sleep patterns and cycle stages, promoting better sleep hygiene.</p>
        <p>Offers insights into sleep quality and duration</p></center>
    </div>
    </div>
    </div>
    </div>

    <div class="container">
    <div class="carousel-item" style="height: 300; width: 62%;align-items: right;">
      <img src="{% static 'healthcentre/images/o4.png' %}" class="d-block w-100" alt="..." height="450" style="border-radius: 8px;">
    
    <div class="card" style="height: 28.1rem;width: 56%;position: absolute;z-index: -1;top: 0px;right: -26.5rem;">
    <div class="card-body">
        <center><h3><i>News Shelter</i></h3>
        <h4><i>Feature:</i></h4>
        <p>A blog application to give the users new and informative content to read.</p>
        <h4><i>Description:</i></h4>
        <p>It has three different sections with information about home remedies, yoga and medetation and about diet plans</p>
        <h4><i>Advantages:</i></h4>
        <p>Users can keep themselves updated about all the latest articles, diets and technoloies about health. Holistic Approach: Provides natural alternatives for managing ailments, promoting overall wellness.</p></center>
    </div>
    </div>
    </div>
    </div>

    <div class="container">
    <div class="carousel-item" style="height: 300; width: 62%;align-items: right;">
      <img src="{% static 'healthcentre/images/o2.png' %}" class="d-block w-100" alt="..." height="450" style="border-radius: 8px;">
    
    <div class="card" style="height: 28.1rem;width: 56%;position: absolute;z-index: -1;top: 0px;right: -26.5rem;">
    <div class="card-body">
        <center><h3><i>Health Center</i></h3>
        <h4><i>Feature:</i></h4>
        <p>It is a complete web application to serve your all the essential health care and hospital needs.</p>
        <h4><i>Description:</i></h4>
        <p>In our health centre application we have many different functions. We can have online prescription from the doctor you selected. We can search for the medicine you required from your near medical stores</p>
        <h4><i>Advantages:</i></h4>
        <p>In this feature with online prescription were also providing the contact details of doctor you can contact them personally.</p></center>
    </div>
    </div>
    </div>
    </div>

    <div class="container">
    <div class="carousel-item" style="height: 300; width: 62%;align-items: right;">
      <img src="{% static 'healthcentre/images/o3.png' %}" class="d-block w-100" alt="..." height="450" style="border-radius: 8px;">
    
    <div class="card" style="height: 28.1rem;width: 56%;position: absolute;z-index: -1;top: 0px;right: -26.5rem;">
    <div class="card-body">
        <center><h3><i> Report Analyzer</i></h3>
        <h4><i>Feature:</i></h4>
        <p>It is a web application made from machine learning models to analyse your report and help you to recommend a doctor.</p>
        <h4><i>Description:</i></h4>
        <p>We have three machine learning models they are for the prediction of heart disease breast cancer and diabetes.</p>
        <h4><i>Advantages:</i></h4>
        <p>Our model is there a accuracy and precision values all the models have the accuracy of above 90%. Machine learning is one of the most reliable technology's emerging for health institutions.</p></center>
    </div>
    </div>
    </div>
    </div>

    <div class="container">
    <div class="carousel-item" style="height: 300; width: 62%;align-items: right;">
      <img src="{% static 'healthcentre/images/o5.png' %}" class="d-block w-100" alt="..." height="450" style="border-radius: 8px;">
    
    <div class="card" style="height: 28.1rem;width: 56%;position: absolute;z-index: -1;top: 0px;right: -26.5rem;">
    <div class="card-body">
        <center><h3><i>Memory Game</i></h3>
        <h4><i>Feature:</i></h4>
        <p>A memory testing game to test your memory made with the basic use to javascript.</p>
        <h4><i>Description:</i></h4>
        <p>In this we can play the game as many time you want each time you refrest the game will restart it self. It will give your score each time how much ever you score. </p>
        <h4><i>Advantages:</i></h4>
        <p>It has attractive design and the score displayed will make the the game more interesting and playing this game can help you in increasing concentration and better memory.</p></center>
    </div>
    </div>
    </div>
    </div>

    <div class="container">
    <div class="carousel-item" style="height: 300; width: 62%;align-items: right;">
      <img src="{% static 'healthcentre/images/o8.png' %}" class="d-block w-100" alt="..." height="450" style="border-radius: 8px;">
    
    <div class="card" style="height: 28.1rem;width: 56%;position: absolute;z-index: -1;top: 0px;right: -26.5rem;">
    <div class="card-body">
        <center><h3><i>Periods Tracker</i></h3>
        <h4><i>Feature:</i></h4>
        <p>Tracks the start and end date of your periods cycle, and helps to maintain the regularity.</p>
        <h4><i>Description:</i></h4>
        <p>Effortlessly track menstrual cycles, predict periods, and manage women's health with our user-friendly and intuitive periods tracker feature.</p>
        <h4><i>Advantages:</i></h4>
        <p>Periods tracker offers cycle predictability, fertility insights, symptom monitoring, and health awareness. Empowering women to manage their menstrual health and make informed decisions.</p></center>
    </div>
    </div>
    </div>
    </div>

     <div class="container">
    <div class="carousel-item" style="height: 300; width: 62%;align-items: right;">
      <img src="{% static 'healthcentre/images/o10.png' %}" class="d-block w-100" alt="..." height="450" style="border-radius: 8px;">
    
    <div class="card" style="height: 28.1rem;width: 56%;position: absolute;z-index: -1;top: 0px;right: -26.5rem;">
    <div class="card-body">
        <center><h3><i>Hydration Alert</i></h3>
        <h4><i>Feature:</i></h4>
        <p>notes the amount to water one should drink in a day and sets the daily limit to two liters.</p>
        <h4><i>Description:</i></h4>
        <p>"Stay hydrated with our water tracker. Monitor daily intake, improve wellness, and achieve optimal hydration levels for a healthier lifestyle.</p>
        <h4><i>Advantages:</i></h4>
        <p>Water tracker ensures adequate hydration, supports metabolism, skin health, and cognitive function. Promotes healthy habits by monitoring water intake, leading to overall well-being and vitality.</p></center>
    </div>
    </div>
    </div>
    </div>


  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <br><br><br>

    <div class="card" style="width: 20rem; float: right; margin-top: 170px; margin-right: 30px;">
            <img src="{% static 'healthcentre/images/logo1.png' %}" class="card-img-top" alt="..." height="250" width="300">
            <div class="card-body">
                <p class="card-text"><b><center><em><u>HealthVista</b></u></em></center><br>"Empowering health through accurate ML disease detection, holistic resources, trackers, insightful dashboards, and trusted data sources. Transforming wellness."
                </p>
            </div>
            </div>
    <div class="container" style="height: auto; width: 70%; margin-left: 35px;">
    <h2><em><u>Overview</u></em></h2>
    <h3>"Empowering Wellness: A Comprehensive Overview of Our Proactive Healthcare Web Application"</h3><br>
    <h3><i>Key Fetures:</i></h3>
    <ul>
        <li><b>Advanced Machine Learning Models:</b> Our application harnesses the power of high-accuracy machine learning models to detect heart disease, breast cancer, and diabetes at an early stage, enabling proactive intervention and improved outcomes.</li>
        <li><b>Diverse Health Resources:</b>We offer an extensive collection of insightful blogs covering diet charts, home remedies, the value of yoga and meditation, and holistic wellness practices. Our goal is to educate and guide users toward healthier lifestyles.</li>
        <li><b>Comprehensive Trackers:</b></li>
        <ul>
            <li><b>Sleep Tracker:</b>Monitor sleep patterns to enhance sleep quality and overall wellness.</li>
            <li><b>Periods Tracker: </b> Empower women to track their menstrual cycles and manage their health more effectively.</li>
            <li><b>Water Tracker:</b> Promote hydration by helping users monitor their daily water intake.</li>
            <li><b>BMI Calculator: </b> Calculate and track body mass index for a better understanding of fitness levels.</li>
            <li><b>Calorie Counter:</b> Enable users to make informed dietary choices by tracking caloric intake.</li>
        </ul>
        <li><b>Insightful Dashboards: </b>Our application features state-specific dashboards that provide in-depth analyses of various chronic and acute diseases. These dashboards offer graphical representations of health trends in men and women, facilitating a clearer understanding of health patterns and potential risks.</li>
        <li><b>Data Integrity:</b>All health data collected is sourced from verified and trusted databases. We are committed to ensuring the accuracy and reliability of the information presented to our users.</li>
    </ul>
    <br>
    <p>Our proactive healthcare web application is dedicated to promoting a holistic approach to well-being. By combining state-of-the-art technology with comprehensive health resources, trackers, and insightful dashboards, we aim to empower individuals to lead healthier lives. Welcome to a new era of wellness management!</p>
    </div>
    <br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>